@import "../base/panels";
$color: white;

.linkPanel{
	@include panel($color);
	margin:10px;

	.linkToPage{
		position: absolute;
		width: 20px;
		right: 8px;
		top:-9px;
		cursor: pointer;
		z-index:10;
	}
}
