@import "../base/panels";
$color: white;

.linkPanel{
	@include panel($color);
	margin:10px;
	padding-bottom: 58px;

	.linkToPage{
		position: absolute;
		width: 20px;
		right: -7px;
		top:-7px;
		cursor: pointer;
		z-index:10;
	}
}
