@import "../../../scss/composants/panelsComps";
@import "../../../scss/composants/forms";

.panel{
	margin: 30px 10px;
}

#container{
	max-width:1000px;
	width:calc(100% - 20px);
	height: fit-content;
}

#dateSelector{
	display:flex;
	align-items: center;
	padding: 20px 10px;
	justify-content: center;

	p{
		margin: 0 10px;
	}

	::ng-deep #dateSelector{
		padding:0;
	}
}

#matieres{
	padding: 0 20px;
	margin-top: 0;
	height: fit-content;

	> div{
		border-top: solid 1px;
	}
}

#expend{
	width:100%;
	display: flex;
	justify-content: center;
	border:0 !important;

	img{
		height:20px;
		cursor: pointer;

		&#closed{
			transform: rotate(90deg);
		}
		&:not(#closed){
			transform: rotate(270deg);
		}
	}
}

.cours{
	position: relative;
	display: flex;
	align-items: center;
	padding:0 8px;
	cursor: pointer;

	.barreCours{
		position: absolute;
		width:3px;
		height:1.3em;
		border-radius: 2px;
		left: 0px;
	}

	p{
		margin: 0;
		padding:15px 0;
	}
}

#liste{
	padding:0 30px 10px 30px;
	width:calc(100% - 60px);

	h2{
		margin-left: 8px;
		margin-top: 0;
	}

	div{
		width:100%;

		+ div{
			border-top: solid 1px;
		}
	}
}

#btns{
	border:none !important;
	width:100%;
	display:flex;
	justify-content: center;

	button{
		margin: 0 5px;
	}
}

#preview{
	height:fit-content;
	position: sticky;
	top:0;
}

@media screen and (min-width: 650px) {
	#main{
		display:flex;
	}

	#liste{
		padding-left: 5px;
	}
}

@media screen and (min-width: 950px) {
	#bigContainer{
		display:flex;
		justify-content: center;
	}

	#container{
		min-width: 600px;
	}

	#preview{
		width:100% !important;
		min-width:350px;
		max-width: 600px;
	}
}
