<form [formGroup]="form">
	<div id="fields">
		<input type="text" formControlName="nom" id="nom" ngModel required class="inputText" placeholder="nom" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">
		<input type="text" formControlName="prenom" id="prenom" ngModel required class="inputText" placeholder="prenom" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">
		<input type="email" formControlName="email" id="email" ngModel required class="inputText" placeholder="email" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">

		<div class="dualDropDown">
			<div class="dropDown">
				<select formControlName="classe" id="classe" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">
					<option disabled selected hidden>classe</option>
					<option *ngFor="let classe of classes" [value]="classe.nomClasse">{{ classe.nomClasse }}</option>
				</select>
			</div>
			<div class="dropDown" >
				<select formControlName="groupe" id="groupe" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">
					<ng-container *ngIf="groupes as groupes">
						<option disabled selected hidden>groupe</option>
						<option *ngFor="let groupe of groupes" [value]="groupe.nomGroupe">{{ groupe.nomGroupe }}</option>
					</ng-container>
				</select>
			</div>
		</div>

		<input type="password" formControlName="password" id="password" ngModel required placeholder="mot de passe" class="inputText" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">

		<button type="submit" class="textButton" (click)="onRegister()" [ngClass]="couleurTexte" [disabled]="form.invalid">s'inscrire</button>
		<!--[disabled]="f.invalid"-->

		<p id="inscription" [ngClass]="couleurTexte">déjà inscrit ? <a routerLink="/login" [ngClass]="couleurTexte">Se connecter</a></p>

		<p *ngIf="form.controls['nom'].hasError('maxlength')" class="errorText">Entrez un nom de moins de 40 caractères</p>
		<p *ngIf="form.controls['prenom'].hasError('maxlength')" class="errorText">Entrez un prénom de moins de 40 caractères</p>
		<p *ngIf="form.controls['email'].hasError('maxlength')" class="errorText">Entrez un email de moins de 128 caractères</p>
		<p *ngIf="form.controls['email'].hasError('pattern')" class="errorText">Entrez une email universitaire de la forme: prénom.nom@etu.umontpellier.fr</p>
		<p *ngIf="form.controls['email'].hasError('email')" class="errorText">Entrez un email valide</p>

		<p *ngIf="message" class="message" [ngClass]="couleurTexte">{{message}}</p>
		<app-erreur *ngIf="error" [message]="error" (close)="error = ''" class="message"></app-erreur>
	</div>
</form>
