<form [formGroup]="form">
	<div id="fields">
		<input type="text" formControlName="nom" id="nom" ngModel required class="inputText" placeholder="nom">
		<input type="text" formControlName="prenom" id="prenom" ngModel required class="inputText" placeholder="prenom">
		<input type="email" formControlName="email" id="email" ngModel required class="inputText" placeholder="email">

		<div class="dualDropDown">
			<select formControlName="classe" id="classe" class="dropDown">
				<option *ngFor="let classe of classes$ | async" [value]="classe.nomClasse">{{ classe.nomClasse }}</option>
			</select>
			<select formControlName="groupe" id="groupe" class="dropDown">
				<ng-container *ngIf="groupes$ | async as groupes">
					<option *ngFor="let groupe of groupes | async" [value]="groupe.nomGroupe">{{ groupe.nomGroupe }}</option>
				</ng-container>
			</select>
		</div>

		<input type="password" formControlName="password" id="password" ngModel required placeholder="mot de passe" class="inputText">

		<button type="submit" class="textButton" (click)="onRegister()">s'inscrire</button>
		<!--[disabled]="f.invalid"-->

		<p id="inscription">déjà inscrit ? <a routerLink="/login">Se connecter</a></p>
	</div>

</form>
