@import "../../../scss/composants/panelsComps";
@import "../../../scss/composants/forms";

#planning{
	display:flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}

.linkPanel{
	max-width: 500px;
}

@media screen and (min-width: 500px){
	.linkPanel{
		width: 500px;
	}
}
