@import "../../../scss/composants/panelsComps";

.panel{
	margin:30px 20px;
	padding:20px 10px;
}

#days{
	display: grid;
	grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
	min-height: calc(100vh - 300px);

	> div{
		display: flex;
		flex-direction: column;
		align-items: center;

		> div{
			width:100%;
			padding:0 2.5px;

			::ng-deep #cours{
				width:calc(100% - 25px);
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

h2{
	font-size: 14pt;
	font-weight: normal;
}

#weeksScroll{
	overflow-x: auto;
	padding-bottom: 10px;
	display: flex;

	::-webkit-scrollbar-thumb{
		border-radius:50px;
		width:5px;
	}

	.week{
		border-radius: 5px;
		margin:5px;

		p{
			margin: 5px 20px;
			white-space: nowrap;
		}
	}

	:first-child{
		margin-left: 0;
	}

	:nth-last-child{
		margin-right:0;
	}
}


// gestion de la version mobile
#littleScreen ::ng-deep .linkPanel .linkToPage{
	display: none;
}

@media screen and (min-width: 1200px) {
	#littleScreen{
		display: none;
	}
}

@media screen and (max-width: 1199px) {
	#bigScreen{
		display: none;
	}
}

@media screen and (min-width: 500px) and (max-width: 1199px) {
	#littleScreen{
		display: flex;
		justify-content: center;
	}
}
