<div id="bigScreen">
	<div class="panel" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">
		<div id="days">
			<div id="lundi">
				<h2 [ngClass]="couleurTexte">Lundi {{displayDates[0] | date : 'dd MMM'}}</h2>
				<div >
					<ng-container *ngFor="let cours of cours[0]">
						<app-cours [cours]="cours"></app-cours>
					</ng-container>
				</div>
			</div>
			<div id="mardi">
				<h2 [ngClass]="couleurTexte">Mardi {{displayDates[1] | date : 'dd MMM'}}</h2>
				<div >
					<ng-container *ngFor="let cours of cours[1]">
						<app-cours [cours]="cours"></app-cours>
					</ng-container>
				</div>
			</div>
			<div id="mercredi">
				<h2 [ngClass]="couleurTexte">Mercredi {{displayDates[2] | date : 'dd MMM'}}</h2>
				<div >
					<ng-container *ngFor="let cours of cours[2]">
						<app-cours [cours]="cours"></app-cours>
					</ng-container>
				</div>
			</div>
			<div id="jeudi">
				<h2 [ngClass]="couleurTexte">Jeudi {{displayDates[3] | date : 'dd MMM'}}</h2>
				<div >
					<ng-container *ngFor="let cours of cours[3]">
						<app-cours [cours]="cours"></app-cours>
					</ng-container>
				</div>
			</div>
			<div id="vendredi">
				<h2 [ngClass]="couleurTexte">Vendredi {{displayDates[4] | date : 'dd MMM'}}</h2>
				<div >
					<ng-container *ngFor="let cours of cours[4]">
						<app-cours [cours]="cours"></app-cours>
					</ng-container>
				</div>
			</div>
			<div id="samedi">
				<h2 [ngClass]="couleurTexte">Samedi {{displayDates[5] | date : 'dd MMM'}}</h2>
				<div >
					<ng-container *ngFor="let cours of cours[5]">
						<app-cours [cours]="cours"></app-cours>
					</ng-container>
				</div>
			</div>
			<div id="dimanche">
				<h2 [ngClass]="couleurTexte">Dimanche {{displayDates[6] | date : 'dd MMM'}}</h2>
				<div >
					<ng-container *ngFor="let cours of cours[6]">
						<app-cours [cours]="cours"></app-cours>
					</ng-container>
				</div>
			</div>
		</div>
		<div id="weeksScroll">
			<div class="week"[ngStyle]="{backgroundColor: '#'+couleurPrincipale+'BF'}" *ngFor="let item of [].constructor(50); let i = index" (click)="changeWeek(i)">
				<p [ngClass]="couleurTexte">s{{i+1}}: {{getWeek(i) | date : 'dd MMM'}}</p>
			</div>
		</div>
	</div>
	<app-erreur *ngIf="error" (close)="error= ''" [message]="error"></app-erreur>
</div>

<div id="littleScreen">
	<app-embed-edt (updateDateOut)="setDate($event)" [updateDateIn]="updateDate" (error)="error = $event"></app-embed-edt>
	<app-erreur *ngIf="error" (close)="error= ''" [message]="error"></app-erreur>
</div>
