<!-- login form -->
<form (ngSubmit)="onLogin(f)" #f="ngForm">
  <div id="fields">
      <input type="email" name="email" id="email" ngModel required class="inputText" placeholder="email">
      <input type="password" name="password" id="password" ngModel required class="inputText" placeholder="mot de passe">

      <button type="submit" [disabled]="f.invalid" class="textButton">se connecter</button>

      <p id="inscription">pas inscrit ? <a routerLink="/register">S'enregistrer</a></p>
  </div>

</form>
