<!-- login form -->
<form (ngSubmit)="onLogin(f)" #f="ngForm">
  <div id="fields">
      <input type="email" name="email" id="email" ngModel required class="inputText" placeholder="email" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">
      <input type="password" name="password" id="password" ngModel required class="inputText" placeholder="mot de passe" [ngClass]="couleurTexte" [ngStyle]="{backgroundColor: '#'+couleurFond+'1A'}">

      <button type="submit" [disabled]="f.invalid" class="textButton" [ngClass]="couleurTexte">se connecter</button>

      <p id="inscription" [ngClass]="couleurTexte">pas inscrit ? <a routerLink="/register" [ngClass]="couleurTexte">S'enregistrer</a></p>
	  <p [ngClass]="couleurTexte" *ngIf="message">{{ message }}</p>
	  <app-erreur *ngIf="error" [message]="error" (close)="error = ''" class="message"></app-erreur>
  </div>

</form>
