<div id="bandeau" *ngIf="path != '/login' && path != '/register'">
  <p>{{ usersInfos.nom }} {{usersInfos.prenom}} - {{usersInfos.groupe}}</p>
  <!--<img src="assets/img/disconnect.png" id="disconnect">-->
  <p id="disconnect" (click)="disconnect()">se déconnecter</p>

  <img src="assets/img/favicon.png" id="logo">
</div>

<nav id="mainMenu" *ngIf="path != '/login' && path != '/register'">
  <div routerLinkActive="mainActive" [routerLinkActiveOptions]="{exact:true}">
	  <div class="before" [ngStyle]="{backgroundColor: '#'+this.couleurPrincipale}"></div>
    <a routerLink="/">accueil</a>
  </div>
  <div routerLinkActive="mainActive">
	  <div class="before" [ngStyle]="{backgroundColor: '#'+this.couleurPrincipale}"></div>
    <a routerLink="/params">Mes données</a>
  </div>
  <div routerLinkActive="mainActive">
	  <div class="before" [ngStyle]="{backgroundColor: '#'+this.couleurPrincipale}"></div>
    <a routerLink="/agenda/content">Cahier de texte</a>
  </div>
  <div routerLinkActive="mainActive">
	  <div class="before" [ngStyle]="{backgroundColor: '#'+this.couleurPrincipale}"></div>
    <a routerLink="/notes/detail">Notes</a>
  </div>
  <div routerLinkActive="mainActive">
	  <div class="before" [ngStyle]="{backgroundColor: '#'+this.couleurPrincipale}"></div>
    <a routerLink="/edt">Emploi du temps</a>
  </div>
	<div routerLinkActive="mainActive">
		<div class="before" [ngStyle]="{backgroundColor: '#'+this.couleurPrincipale}"></div>
		<a routerLink="/edt">Emploi du temps</a>
	</div>
</nav>

<nav id="subMenu" *ngIf="path != '/login' && path != '/register'">
  <div routerLinkActive="subActive" [routerLinkActiveOptions]="{exact:true}" *ngFor = "let routes of currentSubmenuRoutes">
	  <div class="before" [ngStyle]="{backgroundColor: '#'+this.couleurPrincipale}"></div>
    <a [routerLink]= routes.path [ngStyle]="{color: '#'+this.couleurPrincipale}">{{routes.name}}</a>
  </div>
</nav>
