<div id="bandeau" *ngIf="path != '/login' && path != '/register'">
  <p>{{ usersInfos.nom }} {{usersInfos.prenom}} - {{usersInfos.classe}}_{{usersInfos.groupe}}</p>
  <!--<img src="assets/img/disconnect.png" id="disconnect">-->
  <p id="disconnect">disconnectBtn</p>

  <img src="assets/img/favicon.png" id="logo">
</div>

<nav id="mainMenu" *ngIf="path != '/login' && path != '/register'">
  <div routerLinkActive="mainActive" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="/">accueil</a>
  </div>
  <div routerLinkActive="mainActive">
    <a routerLink="/params">Mes données</a>
  </div>
  <div routerLinkActive="mainActive">
    <a routerLink="/agenda">Cahier de texte</a>
  </div>
  <div routerLinkActive="mainActive">
    <a routerLink="/notes">Notes</a>
  </div>
  <div routerLinkActive="mainActive">
    <a routerLink="/edt">Emploi du temps</a>
  </div>
</nav>

<nav id="subMenu" *ngIf="path != '/login' && path != '/register'">
  <div routerLinkActive="subActive" [routerLinkActiveOptions]="{exact:true}" *ngFor = "let routes of currentSubmenuRoutes">
    <a [routerLink]= routes.path>{{routes.name}}</a>
  </div>
</nav>
