@import "../../scss/base/panels";

#bandeau p{
	color: black;
	z-index: 2;
}

#mainMenu{
  display:flex;
  height:45px;
  width:100%;
  background-color: #313131;

  div{
    display:flex;
    align-items: center;
    height:calc(100% - 5px);

    a{
      margin: 0 15px;
      color: #afafaf;
      text-decoration: none;
    }
  }
}

#subMenu{
  display:flex;
  height:30px;
  width:100%;
  background-color: #c2c2c2;

  div{
    display:flex;
    align-items: center;
    height:calc(100% - 5px);

    a{
      margin: 0 15px;
      text-decoration: none;
    }
  }

	div:not(.subActive) a{
		color: #000000 !important;
	}
}

.mainActive, .subActive{

  position:relative;
  cursor:pointer;
  padding-bottom:5px;

  > .before{
    position:absolute;
    bottom:0px;
    content:"";
    width:100%;
    height:5px !important;
    background-color:#AD1FB7;
  }
  a{
    user-select: none;
  }
}

.mainActive{
  background-color:white;

  a{
    color:black !important;
  }
}

.subActive{
  background-color: #e7e7e7;

  a{
    color:#AD1FB7;
  }
}

#bandeau{
  position:relative;
  width:100%;
  height:45px;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;

	#disconnect{
	  margin-left:8px;
	  cursor: pointer;
	}

  #logo{
    position: absolute;
    right:10px;
    bottom:0;
    height:35px;
  }
}

#mobileMenu, #mobileBurger{
	display: none;
}

#mobileBurger{
	background-color: #313131;
	width: calc(100% - 10px);
	height: 45px;
	justify-content: flex-end;
	align-items: center;
	padding:0 5px;

	> div{
		cursor: pointer;

		> span{
			width: 25px;
			height: 3px;
			border-radius: 2px;
			background-color: white;
			display: block;
			margin:5px;
		}
	}
}

#cross{
	cursor: pointer;
	position: absolute;
	right:20px;
	top:30px;

	> span{
		width: 35px;
		height: 3px;
		border-radius: 2px;
		background-color: black;
		display: block;
	}
	:nth-child(1){
		transform:translateY(1.5px) rotate(45deg);
	}
	:nth-child(2){
		transform:translateY(-1.5px) rotate(135deg);
	}
}

#mobileMenu{
	@include panel(white);

	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height:100vh;
	z-index: 100;

	a{
		font-size: 25pt;
	}

	 div:not(.mobileActive){
		> a{
			color:white
			!important;
			text-decoration: none;
		}
		+ .mobileSubContainer{
			display: none;
		}
	}
}

.mobileSubActive{
	text-decoration: underline;
}

.mobileSubContainer {
	display: flex;
	align-items: center;
	flex-direction: column;

	a{
		font-size: 18pt !important;
		text-decoration: none;
	}
}

@media screen and (max-width: 600px){
	#mainMenu, #subMenu{
		display: none;
	}

	#mobileBurger{
		display: flex;
	}

	#bandeau{
		flex-direction: column;
		height:auto;
		min-height: 45px;

		p{
			margin:0;
			text-align: center;
		}
	}
}

.activeMobileMenu{
	//lorsque le menu est ouvert
	display: flex !important;
}
