@import "../../../scss/composants/panelsComps";

#date{
	display: inline-block;
	padding:2.5px 20% 2.5px 10px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;

	span{
		font-weight: bold;
	}
}

.linkPanel{
	max-width: 500px;
	width: calc(100% - 20px);
}

@media screen and (min-width: 520px){
	.linkPanel{
		width: 500px;
	}
}

h1{
	margin-top: 0;
}
