/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: glacial_indifference;
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf");
}
@font-face {
	font-family: glacial_indifference;
	font-style: normal;
	font-weight: bold;
	src: url("./assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf");
}

@font-face {
	font-family: glacial_indifference;
	font-style: italic;
	font-weight: normal;
	src: url("./assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf");
}

body{
  margin:0;
	background-color: black;
}

p, li, a, h4, h5, h6, input{
  font-family: glacial_indifference, sans-serif;
  color:orange;
}

h1, h2, h3{
	font-family: glacial_indifference, sans-serif;
	font-weight: bold;
	color:white;
}

h1{
	font-size: 20pt;
	text-align: center;
	padding-top: 20px;
}

//couleurs de texte
.light{
	color: white;
}
.dark{
	color: black;
}
