#container{
	margin-top: 10px;
}

@media screen and (min-width: 500px){
	#container{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media screen and (min-width: 1560px){
	#container > div{
		display:flex;
	}
}
