footer{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
	background-color: #313131;
}

p, a{
	margin: 5px;
	color: white;
}

@media screen and (min-width:650px) {
	footer{
		flex-direction: initial;
		align-items: initial;
		justify-content: center;
	}

	p{
		margin: 5px 15px;
	}
}
